body {
    background: linear-gradient(270deg, #470198, #8a00a8, #a8008b);
    background-size: 600% 600%;
    font-family: "Courier New", Courier, monospace;
    -webkit-animation: BGscroll 41s ease infinite;
    -moz-animation: BGscroll 41s ease infinite;
    -o-animation: BGscroll 41s ease infinite;
    animation: BGscroll 41s ease infinite;
}

@-webkit-keyframes BGscroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BGscroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes BGscroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BGscroll {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.navbar-brand{
    max-width: 30%;
    max-height: 30%;
}

.nav-link{
    color: white;
    font-weight: bold;
}
    .btn-outline-secondary {
        border-color: purple; 
        border-width: 4px;
        color: purple;
    }

    .btn-outline-secondary:hover {
        color: rgb(230, 0, 238);
        border-color: rgb(230, 0, 238);
        border-width: 8px;
        transition: border-width 0.15s ease;
    }

    .btn-outline-secondary:not(:hover) {
        border-width: 4px;
        transition: border-width 0.25s ease;
    }
    .input-group.mb-3 {
        animation: -Animation- 1s ease-in-out;
    }

    @keyframes -Animation- {
        0% { transform: translateY(0); }
        50% { transform: translateY(5px); }
        100% { transform: translateY(0); }
    }